<div class="row">
    <div class="col-sm-12">
    {{models-table
    data=model.datos
    columns=model.columns
    filterQueryParameters=filterQueryParameters
    multipleExpand=multipleExpand
    useDataGrouping=useDataGrouping
    currentGroupingPropertyName=currentGroupingPropertyName
    dataGroupProperties=dataGroupProperties
    groupedValue=groupedValue
    showComponentFooter=showComponentFooter
    showColumnsDropdown=showColumnsDropdown
    useFilteringByColumns=useFilteringByColumns
    showGlobalFilter=showGlobalFilter
    useNumericPagination=useNumericPagination
    ModelsTablePaginationSimple=ModelsTablePaginationSimple
    showPageSize=showPageSize
    filteringIgnoreCase=filteringIgnoreCase
    columnComponents=hashColumns
    pageSize=pageSize
    customMessages=customMessages
  }}
    </div>
  </div>
